
@{
    ViewData["Title"] = "Error";
}

<form class="form">
   
    <div class="form_icon">
        
        <img src="~/img/error.png" alt="error-иконка">
    
    </div>

    <div class="form_error">

        <h2>Error !</h2><br>
        <span>Данный мерчант уже существует </span>

    </div>

</form>

