
@{
    ViewData["Title"] = "Success";
}

<form class="form">
    
    <div class="form_icon">
        
        <img src="~/img/success.png" alt="success-иконка">
    
    </div>
    
    <div class="form_success">
     
        <h2>Success !</h2>
     
    </div>

</form>
